.letterWheel {
  position: relative;
  background-color: rgba(211, 211, 211, 0.169);
  width: 180px;
  height: 180px;
  border-radius: 100%;

  .letter {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}
