.letterWheel {
  position: relative;
  background-color: var(--letter-wheel-bg);
  // box-shadow: var(--letter-wheel-shadow);
  border-radius: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  border: solid 1px var(--bg-color-80);

  .letter {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    font-size: 2rem;

    @media (hover: hover) {
      &:hover {
        background-color: var(--letter-bg);
        color: var(--letter-color);
      }
    }
  }

  .svg {
    position: absolute;
    height: 100%;
    width: 100%;

    .connector {
      stroke: var(--letter-bg);
      stroke-linecap: round;
    }
  }
}
