.bonusWords {
  display: flex;
  flex-direction: column;

  .h2 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }

  .subheader {
    text-align: center;
    margin-bottom: 1rem;
  }

  .wordsContainer {
    background-color: var(--bg-color-app);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    border-radius: 4px;
    min-height: 200px;
    border: solid 1px var(--bg-color-90);
  }
}
