.game {
  display: flex;
  flex-direction: column;

  .levelAndLinks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 2rem 1rem 2rem 1rem;

    .level {
      font-family: monospace;
      font-size: 22px;
      margin: 0;
    }

    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;

      .hoverableLink {
        transition: 0.1s ease-in-out;
        cursor: pointer;
        text-decoration: none;
        background-color: lightskyblue;
        padding: 0.4rem 0.8rem;
        color: black;
        border-radius: 2px;
        font-family: monospace;

        @media (hover: hover) {
          &:hover {
            opacity: 0.8;
            translate: 0 -2px;
          }
        }
      }
    }
  }

  .crosswordAndInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }

  .resetButton {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 4rem 0 10rem 0;
    font-size: 1rem;
    cursor: pointer;
    background: rgba(255, 98, 98, 0.4);
    border: 2px solid rgb(255, 91, 91);
    border-radius: 1rem;
    color: var(--text-color);
    opacity: 0.5;
    transition: 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 740px) {
  .game {
    .levelAndLinks {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .links {
        gap: 1rem;
      }
    }

    .crosswordAndInputs {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media only screen and (min-width: 900px) {
  .game {
    .crosswordAndInputs {
      align-self: center;
      justify-content: space-between;
      width: 900px;
    }
  }
}
