.controls {
  display: flex;
  flex-direction: column;

  .letters {
    height: 32px;
    font-size: 32px;
    margin: 1rem 0;
    font-weight: bold;
    align-self: center;
    z-index: 1;
    user-select: none;
  }

  .controlsBottom {
    display: flex;
    align-items: flex-end;

    .smallButton {
      border-radius: 100%;
      height: 60px;
      width: 60px;
      fill: var(--text-color-primary);
      color: var(--text-color-primary);
      padding: 0;
      background-color: var(--letter-wheel-bg);
      border: solid 1px var(--bg-color-80);
      cursor: pointer;
      z-index: 1;
      position: relative;

      @media (hover: hover) {
        &:not(:disabled) {
          &:hover {
            background-color: var(--letter-bg);
            fill: var(--bg-color-app);
            color: var(--bg-color-app);
            border: solid 1px var(--letter-bg);
          }
        }
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .leftButtons {
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-self: stretch;
      justify-content: space-between;
    }
  }
}
