.home {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.5rem;
  padding: 2rem 0 0 0;
  min-width: min(90vw, 400px);
  max-width: min(90vw, 400px);
  margin-bottom: 10rem;

  .level {
    border: 1px solid var(--bg-color-50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: var(--text-primary);
    border-radius: 6px;

    @media (hover: hover) {
      &:hover {
        background-color: var(--bg-color-surface);
      }
    }
  }
}
