.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--bg-color-90);
  z-index: 2;
  backdrop-filter: blur(8px);
  background: #fff0;

  .logo {
    width: 48px;
  }
}
