* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  --bg-color-app: #1a1a1c;
  --bg-color-surface: #2e2e2e;
  --bg-color-elevated: #3a3a3a;
  --bg-color-95: color-mix(
    in hsl,
    var(--bg-color-app) 95%,
    var(--text-color-primary)
  );
  --bg-color-90: color-mix(
    in hsl,
    var(--bg-color-app) 90%,
    var(--text-color-primary)
  );
  --bg-color-80: color-mix(
    in hsl,
    var(--bg-color-app) 80%,
    var(--text-color-primary)
  );
  --bg-color-70: color-mix(
    in hsl,
    var(--bg-color-app) 70%,
    var(--text-color-primary)
  );
  --bg-color-60: color-mix(
    in hsl,
    var(--bg-color-app) 60%,
    var(--text-color-primary)
  );
  --bg-color-50: color-mix(
    in hsl,
    var(--bg-color-app) 50%,
    var(--text-color-primary)
  );
  --bg-color-40: color-mix(
    in hsl,
    var(--bg-color-app) 40%,
    var(--text-color-primary)
  );
  --bg-color-30: color-mix(
    in hsl,
    var(--bg-color-app) 30%,
    var(--text-color-primary)
  );
  --bg-color-20: color-mix(
    in hsl,
    var(--bg-color-app) 20%,
    var(--text-color-primary)
  );
  --bg-color-10: color-mix(
    in hsl,
    var(--bg-color-app) 10%,
    var(--text-color-primary)
  );

  --tile-bg-color: #3c3e51;
  --tile-solved-bg-color: rgb(63, 63, 223);

  --text-color-primary: #ffffff;
  --text-color-secondary: #bdbdbd;
  --text-color-muted: #8f8f8f;

  --letter-bg: white;
  --letter-color: black;
  --letter-wheel-bg: #131315;
  --letter-wheel-shadow: inset 20px 20px 60px #000, -20px -20px 60px #303037;
  --letter-wheel-shadow-sm: inset 10px 10px 30px #000, -10px -10px 20px #303037;

  // badge
  --badge-success-bg: rgba(0, 234, 108, 0.2);
  --badge-success-color: rgb(204, 255, 221);
  --badge-warning-bg: #ffcd0033;
  --badge-warning-color: #fff5cc;
  --badge-danger-bg: #ff494433;
  --badge-danger-color: #ffdbda;
  --badge-info-bg: #219dff33;
  --badge-info-color: #cceaf7;
  ////////

  --error-red: rgb(255, 91, 91);

  background-color: var(--bg-color-app);
  color: var(--text-color-primary);

  &.light-theme {
    --bg-color-app: #f5f5f5;
    --bg-color-surface: #ffffff;
    --bg-color-elevated: #f0f0f0;

    --tile-bg-color: #3b3c43;
    --tile-solved-bg-color: rgb(62, 62, 205);

    --text-color-primary: #1a1a1a;
    --text-color-secondary: #4a4a4a;
    --text-color-muted: #7a7a7a;

    --letter-bg: rgb(27, 32, 45);
    --letter-color: white;
    --letter-wheel-bg: #ddd;
    --letter-wheel-shadow: inset 20px 20px 60px #f1f1f1,
      -20px -20px 60px #cacaca;
    --letter-wheel-shadow-sm: inset 10px 10px 20px #f1f1f1,
      -6px -10px 60px #cacaca;

    // badge
    --badge-success-bg: rgba(0, 183, 85, 0.1);
    --badge-success-color: rgb(0, 115, 119);
    --badge-warning-bg: #ffcd0045;
    --badge-warning-color: #17355f;
    --badge-danger-bg: #ff494433;
    --badge-danger-color: #b60000;
    --badge-info-bg: #219dff33;
    --badge-info-color: #0041a5;
    ///////
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}

@keyframes pulse-green {
  50% {
    background-color: green;
  }
}

@keyframes pulse-purple {
  50% {
    background-color: rgb(112, 31, 112);
  }
}

@keyframes fadeout {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}
