.crossword {
  aspect-ratio: 1 / 1;
  width: min(95vw, 380px);
  height: min(95vw, 380px);
  display: grid;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  .tile {
    background-color: var(--tile-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.186);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 24px;
    color: white;

    &.blank {
      visibility: hidden;
    }

    &.solved {
      background-color: var(--tile-solved-bg-color);
    }
  }
}
